/*================================================================================
	Item Name: Apex - Angular 4 Bootstrap Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.scrollbar {
    overflow-y: auto;
  }
  .pivot-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pivot-table th,
  .pivot-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .pivot-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .pivot-table td {
    background-color: #ffffff;
  }
  
  .pivot-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  
    background-color: transparent;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
  
    background-color: rgba(224, 224, 224, 0.2);
  }
  
  .dx-datagrid-rowsview .dx-row.dx-row-lines,
  .dx-datagrid-rowsview .dx-row.dx-row-lines > td,
  .dx-datagrid-rowsview .dx-row.dx-row-lines > tr > td {
    border-top: none;
    font-size: smaller;
  }
  
  .dx-row.dx-column-lines.dx-header-row {
    font-size: smaller;
  }
  
  .ant-select-tree-switcher.ant-select-tree-switcher_close,
  .ant-select-tree-switcher.ant-select-tree-switcher_open {
    margin-top: 4px !important;
  }
  .space-between{
    display:flex !important;
    align-items:center !important;
    justify-content: space-between !important;
  
  }
  .ion-icon {
    pointer-events: none;
  }
  
  .ant-modal-close-x {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  
  
  .p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
    height: 2rem !important;
  }
  
  .p-treetable .p-treetable-tbody > tr > td {
    padding: 0 0 !important;
  }
  
  .p-rowgroup-header-name{ 
    width: -webkit-fill-available;
  }
  .ant-switch-checked {
    background-color: #4ADE80 !important;
  }
  .ant-switch {
    background-color: #dddfdd !important;
  }
  .p-rowgroup-header {
	background: #f0f8ff !important;
  }
  
 .box-shadow-custom 
  {
    box-shadow: 1px 2px 9px #F4AAB9,
      }

      